src/**/*.o
src/.obj/
src/client/tests/client-test
src/lib/tests/iobuf-test
src/lib/tests/pinset-test
src/lib/tests/rbtree-test
src/server/tests/store-stress
src/server/tests/store-test

pgsql/**/*.o
pgsql/**/*.so
pgsql/**/*.so.*


pgsql/GNUmakefile
pgsql/config.log
pgsql/config.status
pgsql/src/Makefile.global
pgsql/src/Makefile.port
pgsql/src/backend/bootstrap/bootparse.c
pgsql/src/backend/bootstrap/bootscanner.c
pgsql/src/backend/bootstrap/bootstrap_tokens.h
pgsql/src/backend/catalog/postgres.bki
pgsql/src/backend/catalog/postgres.description
pgsql/src/backend/catalog/postgres.shdescription
pgsql/src/backend/parser/gram.c
pgsql/src/backend/parser/parse.h
pgsql/src/backend/parser/scan.c
pgsql/src/backend/port/dynloader.c
pgsql/src/backend/port/pg_sema.c
pgsql/src/backend/port/pg_shmem.c
pgsql/src/backend/port/tas.s
pgsql/src/backend/postgres
pgsql/src/backend/utils/fmgroids.h
pgsql/src/backend/utils/fmgrtab.c
pgsql/src/backend/utils/mb/conversion_procs/conversion_create.sql
pgsql/src/backend/utils/misc/guc-file.c
pgsql/src/bin/initdb/initdb
pgsql/src/bin/ipcclean/ipcclean
pgsql/src/bin/pg_config/pg_config
pgsql/src/bin/pg_controldata/pg_controldata
pgsql/src/bin/pg_controldata/pg_crc.c
pgsql/src/bin/pg_ctl/pg_ctl
pgsql/src/bin/pg_dump/pg_dump
pgsql/src/bin/pg_dump/pg_dumpall
pgsql/src/bin/pg_dump/pg_restore
pgsql/src/bin/pg_resetxlog/pg_crc.c
pgsql/src/bin/pg_resetxlog/pg_resetxlog
pgsql/src/bin/psql/dumputils.c
pgsql/src/bin/psql/psql
pgsql/src/bin/psql/psqlscan.c
pgsql/src/bin/psql/sql_help.h
pgsql/src/bin/scripts/clusterdb
pgsql/src/bin/scripts/createdb
pgsql/src/bin/scripts/createlang
pgsql/src/bin/scripts/createuser
pgsql/src/bin/scripts/dropdb
pgsql/src/bin/scripts/droplang
pgsql/src/bin/scripts/dropuser
pgsql/src/bin/scripts/dumputils.c
pgsql/src/bin/scripts/mbprint.c
pgsql/src/bin/scripts/print.c
pgsql/src/bin/scripts/reindexdb
pgsql/src/bin/scripts/vacuumdb
pgsql/src/include/dynloader.h
pgsql/src/include/parser/parse.h
pgsql/src/include/pg_config.h
pgsql/src/include/pg_config_os.h
pgsql/src/include/stamp-h
pgsql/src/include/utils/fmgroids.h
pgsql/src/interfaces/ecpg/compatlib/libecpg_compat.a
pgsql/src/interfaces/ecpg/ecpglib/libecpg.a
pgsql/src/interfaces/ecpg/ecpglib/path.c
pgsql/src/interfaces/ecpg/ecpglib/strlcpy.c
pgsql/src/interfaces/ecpg/ecpglib/thread.c
pgsql/src/interfaces/ecpg/include/ecpg_config.h
pgsql/src/interfaces/ecpg/pgtypeslib/libpgtypes.a
pgsql/src/interfaces/ecpg/pgtypeslib/pgstrcasecmp.c
pgsql/src/interfaces/ecpg/preproc/ecpg
pgsql/src/interfaces/ecpg/preproc/pgc.c
pgsql/src/interfaces/ecpg/preproc/preproc.c
pgsql/src/interfaces/ecpg/preproc/preproc.h
pgsql/src/interfaces/ecpg/test/compat_informix/charfuncs
pgsql/src/interfaces/ecpg/test/compat_informix/charfuncs.c
pgsql/src/interfaces/ecpg/test/compat_informix/dec_test
pgsql/src/interfaces/ecpg/test/compat_informix/dec_test.c
pgsql/src/interfaces/ecpg/test/compat_informix/rfmtdate
pgsql/src/interfaces/ecpg/test/compat_informix/rfmtdate.c
pgsql/src/interfaces/ecpg/test/compat_informix/rfmtlong
pgsql/src/interfaces/ecpg/test/compat_informix/rfmtlong.c
pgsql/src/interfaces/ecpg/test/compat_informix/rnull
pgsql/src/interfaces/ecpg/test/compat_informix/rnull.c
pgsql/src/interfaces/ecpg/test/compat_informix/test_informix
pgsql/src/interfaces/ecpg/test/compat_informix/test_informix.c
pgsql/src/interfaces/ecpg/test/compat_informix/test_informix2
pgsql/src/interfaces/ecpg/test/compat_informix/test_informix2.c
pgsql/src/interfaces/ecpg/test/connect/test1
pgsql/src/interfaces/ecpg/test/connect/test1.c
pgsql/src/interfaces/ecpg/test/connect/test1.pgc
pgsql/src/interfaces/ecpg/test/connect/test2
pgsql/src/interfaces/ecpg/test/connect/test2.c
pgsql/src/interfaces/ecpg/test/connect/test3
pgsql/src/interfaces/ecpg/test/connect/test3.c
pgsql/src/interfaces/ecpg/test/connect/test4
pgsql/src/interfaces/ecpg/test/connect/test4.c
pgsql/src/interfaces/ecpg/test/connect/test5
pgsql/src/interfaces/ecpg/test/connect/test5.c
pgsql/src/interfaces/ecpg/test/pg_regress
pgsql/src/interfaces/ecpg/test/pgtypeslib/dt_test
pgsql/src/interfaces/ecpg/test/pgtypeslib/dt_test.c
pgsql/src/interfaces/ecpg/test/pgtypeslib/dt_test2
pgsql/src/interfaces/ecpg/test/pgtypeslib/dt_test2.c
pgsql/src/interfaces/ecpg/test/pgtypeslib/num_test
pgsql/src/interfaces/ecpg/test/pgtypeslib/num_test.c
pgsql/src/interfaces/ecpg/test/pgtypeslib/num_test2
pgsql/src/interfaces/ecpg/test/pgtypeslib/num_test2.c
pgsql/src/interfaces/ecpg/test/preproc/comment
pgsql/src/interfaces/ecpg/test/preproc/comment.c
pgsql/src/interfaces/ecpg/test/preproc/define
pgsql/src/interfaces/ecpg/test/preproc/define.c
pgsql/src/interfaces/ecpg/test/preproc/init
pgsql/src/interfaces/ecpg/test/preproc/init.c
pgsql/src/interfaces/ecpg/test/preproc/type
pgsql/src/interfaces/ecpg/test/preproc/type.c
pgsql/src/interfaces/ecpg/test/preproc/variable
pgsql/src/interfaces/ecpg/test/preproc/variable.c
pgsql/src/interfaces/ecpg/test/preproc/whenever
pgsql/src/interfaces/ecpg/test/preproc/whenever.c
pgsql/src/interfaces/ecpg/test/sql/array
pgsql/src/interfaces/ecpg/test/sql/array.c
pgsql/src/interfaces/ecpg/test/sql/binary
pgsql/src/interfaces/ecpg/test/sql/binary.c
pgsql/src/interfaces/ecpg/test/sql/code100
pgsql/src/interfaces/ecpg/test/sql/code100.c
pgsql/src/interfaces/ecpg/test/sql/copystdout
pgsql/src/interfaces/ecpg/test/sql/copystdout.c
pgsql/src/interfaces/ecpg/test/sql/define
pgsql/src/interfaces/ecpg/test/sql/define.c
pgsql/src/interfaces/ecpg/test/sql/desc
pgsql/src/interfaces/ecpg/test/sql/desc.c
pgsql/src/interfaces/ecpg/test/sql/dynalloc
pgsql/src/interfaces/ecpg/test/sql/dynalloc.c
pgsql/src/interfaces/ecpg/test/sql/dynalloc2
pgsql/src/interfaces/ecpg/test/sql/dynalloc2.c
pgsql/src/interfaces/ecpg/test/sql/dyntest
pgsql/src/interfaces/ecpg/test/sql/dyntest.c
pgsql/src/interfaces/ecpg/test/sql/execute
pgsql/src/interfaces/ecpg/test/sql/execute.c
pgsql/src/interfaces/ecpg/test/sql/fetch
pgsql/src/interfaces/ecpg/test/sql/fetch.c
pgsql/src/interfaces/ecpg/test/sql/func
pgsql/src/interfaces/ecpg/test/sql/func.c
pgsql/src/interfaces/ecpg/test/sql/indicators
pgsql/src/interfaces/ecpg/test/sql/indicators.c
pgsql/src/interfaces/ecpg/test/sql/quote
pgsql/src/interfaces/ecpg/test/sql/quote.c
pgsql/src/interfaces/ecpg/test/sql/show
pgsql/src/interfaces/ecpg/test/sql/show.c
pgsql/src/interfaces/ecpg/test/sql/update
pgsql/src/interfaces/ecpg/test/sql/update.c
pgsql/src/interfaces/ecpg/test/thread/thread
pgsql/src/interfaces/ecpg/test/thread/thread.c
pgsql/src/interfaces/ecpg/test/thread/thread_implicit
pgsql/src/interfaces/ecpg/test/thread/thread_implicit.c
pgsql/src/interfaces/libpq/blibpqdll.def
pgsql/src/interfaces/libpq/encnames.c
pgsql/src/interfaces/libpq/exports.list
pgsql/src/interfaces/libpq/ip.c
pgsql/src/interfaces/libpq/libpq.a
pgsql/src/interfaces/libpq/libpq.rc
pgsql/src/interfaces/libpq/libpqddll.def
pgsql/src/interfaces/libpq/libpqdll.def
pgsql/src/interfaces/libpq/md5.c
pgsql/src/interfaces/libpq/noblock.c
pgsql/src/interfaces/libpq/pgstrcasecmp.c
pgsql/src/interfaces/libpq/strlcpy.c
pgsql/src/interfaces/libpq/thread.c
pgsql/src/interfaces/libpq/wchar.c
pgsql/src/pl/plpgsql/src/libplpgsql.a
pgsql/src/pl/plpgsql/src/pl.tab.h
pgsql/src/pl/plpgsql/src/pl_gram.c
pgsql/src/pl/plpgsql/src/pl_scan.c
pgsql/src/port/libpgport.a
pgsql/src/port/libpgport_srv.a
pgsql/src/port/pg_config_paths.h
pgsql/src/test/regress/expected/constraints.out
pgsql/src/test/regress/expected/copy.out
pgsql/src/test/regress/expected/create_function_1.out
pgsql/src/test/regress/expected/create_function_2.out
pgsql/src/test/regress/expected/misc.out
pgsql/src/test/regress/expected/tablespace.out
pgsql/src/test/regress/log/
pgsql/src/test/regress/pg_regress
pgsql/src/test/regress/regression.diffs
pgsql/src/test/regress/regression.out
pgsql/src/test/regress/sql/constraints.sql
pgsql/src/test/regress/sql/copy.sql
pgsql/src/test/regress/sql/create_function_1.sql
pgsql/src/test/regress/sql/create_function_2.sql
pgsql/src/test/regress/sql/misc.sql
pgsql/src/test/regress/sql/tablespace.sql
pgsql/src/test/regress/tmp_check/
pgsql/src/timezone/zic
