<?xml version="1.0" encoding="UTF-8"?>

<!--
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
-->

<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>
  <display-name>ejb_rubis_web: RUBiS web application</display-name>
 

    <!-- Define servlets that are used in RUBiS application -->

    <servlet>
        <servlet-name>BrowseCategories</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.BrowseCategories</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>BrowseRegions</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.BrowseRegions</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>SearchItemsByCategory</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.SearchItemsByCategory</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SearchItemsByRegion</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.SearchItemsByRegion</servlet-class>
    </servlet>  
    
     <servlet>
        <servlet-name>ViewItem</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.ViewItem</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ViewUserInfo</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.ViewUserInfo</servlet-class>
    </servlet>
    
     <servlet>
        <servlet-name>ViewBidHistory</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.ViewBidHistory</servlet-class>
    </servlet>  
    
    <servlet>
        <servlet-name>AboutMe</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.AboutMe</servlet-class>
    </servlet>   
    
     <servlet>
        <servlet-name>BuyNow</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.BuyNow</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>BuyNowAuth</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.BuyNowAuth</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>StoreBuyNow</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.StoreBuyNow</servlet-class>
    </servlet> 
    
     <servlet>
        <servlet-name>PutBid</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.PutBid</servlet-class>
    </servlet>  

     <servlet>
        <servlet-name>PutBidAuth</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.PutBidAuth</servlet-class>
    </servlet> 
    
    <servlet>
        <servlet-name>StoreBid</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.StoreBid</servlet-class>
    </servlet> 
    
    <servlet>
        <servlet-name>PutComment</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.PutComment</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PutCommentAuth</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.PutCommentAuth</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>StoreComment</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.StoreComment</servlet-class>
    </servlet>  
    
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.RegisterUser</servlet-class>
    </servlet>  
    
    <servlet>
        <servlet-name>SellItemForm</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.SellItemForm</servlet-class>
    </servlet>  
    
    <servlet>
        <servlet-name>RegisterItem</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.RegisterItem</servlet-class>
    </servlet>  
    
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>edu.rice.rubis.beans.servlets.Auth</servlet-class>
    </servlet> 
    
    <!-- Define servlets mapping -->

    <servlet-mapping>
        <servlet-name>BrowseCategories</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.BrowseCategories</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BrowseRegions</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.BrowseRegions</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>SearchItemsByCategory</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.SearchItemsByCategory</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>SearchItemsByRegion</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.SearchItemsByRegion</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ViewItem</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.ViewItem</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ViewUserInfo</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.ViewUserInfo</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ViewBidHistory</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.ViewBidHistory</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AboutMe</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.AboutMe</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>BuyNow</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.BuyNow</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>BuyNowAuth</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.BuyNowAuth</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>StoreBuyNow</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.StoreBuyNow</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>PutBid</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.PutBid</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>PutBidAuth</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.PutBidAuth</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>StoreBid</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.StoreBid</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>PutComment</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.PutComment</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>PutCommentAuth</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.PutCommentAuth</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>StoreComment</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.StoreComment</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.RegisterUser</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>SellItemForm</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.SellItemForm</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>RegisterItem</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.RegisterItem</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/servlet/edu.rice.rubis.beans.servlets.Auth</url-pattern>
    </servlet-mapping>
    
    
    
  <session-config>
    <session-timeout>54</session-timeout>
  </session-config>

</web-app>